html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#title {
  text-shadow: 2px 1px rgb(25, 113, 194);
  text-align: center;
}

.container {
  width: 50%;
  height: 50%;
  margin-top: 12%;
  padding: 0;
}

img {
  display: block;
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}

#imgContainer {
  width: 100%;
}
